
Notes/Japanese Notes/.obsidian/
*.json
/__pycache__
Notes/Japanese Notes/Content
Notes/Japanese Notes/Kanji
Notes/Japanese Notes/Sentences
Notes/Japanese Notes/Words
/Data
*.md
*.md
*.txt
*.json
Notes/Japanese Notes/.obsidian/appearance.json
Notes/Japanese Notes/.obsidian/workspace.json
Notes/Japanese Notes/CSV/Kanji.csv
Notes/Japanese Notes/CSV/Sentences.csv
Notes/Japanese Notes/CSV/Kanji_cloze.csv
*.json
Notes/Japanese Notes/.obsidian/appearance.json
Notes/Japanese Notes/.obsidian/workspace.json
Notes/Japanese Notes/CSV/Words.csv
Notes/Japanese Notes/CSV/Sentences_cloze.csv
Notes/Japanese Notes/CSV/Words_cloze.csv
Notes/Japanese Notes/.obsidian/workspace.json
Notes/Japanese Notes/.obsidian/appearance.json
